@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
   --theme: #1c1c1c;
   --bg-color: #ecf0f3;
   --txt-color-one: #4d12f5;
   --txt-color-two: #000;
   --shadow-color-one: #f8f9fa;
   --shadow-color-two: #d3dce3;
   --btn-border-color: #ecf0f3;
   --grey: rgba(0,0,0,.2);
}

*{
   box-sizing: border-box;
}

body{
   height: 140vh;
   background-color: #e6e9ef;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
}

.calculator{
   max-width: 20rem;
   height: auto;
   margin: 1.5rem;
   display: flex;
   flex-direction: column;
   border-radius: 1rem;
   background-color: var(--bg-color);
   box-shadow: 7px 7px 7px #d3dce3, -7px -7px 7px #f8f9fa;
}

.top{
   display: flex;
   flex-direction: column;
}

.calc-name > h1{
   color: var(--txt-color-two);
   text-align: center;
   height: 2rem;
   letter-spacing: .2rem;
   font-size: 1.5rem;
}

.theme{
   width: auto;
   height: auto;
   padding: 1rem;
   margin: 1rem;
   color: var(--btn-border-color);
   align-self: flex-end;
   border-radius: .7rem;
   cursor: pointer;
   background-color: var(--theme);
}

.display{
   max-width: 16rem;
   padding: 1rem 0;
   margin: 1rem;
   display: flex;
   flex-direction: column;
   line-height: 2rem;
   border-radius: 1rem;
   background-color: var(--bg-color);
   box-shadow: 4px 4px 4px var(--shadow-color-two) inset, -4px -4px 4px var(--shadow-color-one) inset;
}

.first-operand{
   color: var(--txt-color-two);
   font-size: 2rem;
   text-align: left;
}

.first-operand:focus{
   border: none;
   outline: none;
}

.second-operand{
   color: var(--txt-color-one);
   font-size: 1rem;
   text-align: right;
}

.first-operand, .second-operand{
   padding-left: 1rem;
   padding-right: 1rem;
   word-wrap: break-word;
}

.btns{
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-gap: .7rem;
   padding-top: 1.5rem;
   margin: 1rem;
}

.button{
   width: 2.5rem;
   height: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
   border: 1px solid var(--btn-border-color);
   border-radius: 50%;
   background-color: var(--bg-color);
   box-shadow: 4px 4px 5px var(--shadow-color-two), -4px -4px 5px var(--shadow-color-one);
}

.button:active{
   border: 1px solid var(--grey);
   box-shadow: none;
   transition: .1s ease-out;
}

.equals{
   color: var(--bg-color);
   width: auto;
   height: auto;
   border-radius: 2rem;
   border: 2px solid var(--bg-color);
   background-color: var(--txt-color-one);
   grid-area: 5 / 4 / 7 / 5;
}

.equals:active{
   color: var(--txt-color-one);
   background-color: var(--bg-color);
   transition: .1s ease-out;
}

.btn-flex{
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.other-btns{
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 0;
   position: absolute;
   z-index: 1;
   background-color: var(--bg-color);
   overflow-y: scroll;
   transition: 0.5s ease-out;
}

.openbtn{
   padding: .5rem;
   border-radius: .5rem .5rem;
   color: var(--bg-color);
   background-color: var(--txt-color-one);
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
   box-shadow: -4px -4px 5px var(--shadow-color-one);
}

.closebtn{
   padding: 1rem;
   color: var(--txt-color-two);
   align-self: flex-end;
   font-size: 3rem;
   font-family: 'Montserrat', sans-serif;
}

.txt1{
   color: var(--txt-color-one);
}

.txt2{
   color: var(--txt-color-two);
}

.footer{
   padding-bottom: 1rem;
   text-align: center;
   font-size: 1rem;
   color: rgba(0,0,0,.3);
}

@media only screen and (min-width: 768px) {
   
   body{
      height: 100vh;
   }
   
   .footer{
   position: fixed;
   bottom: 0;
   padding-bottom: 1rem;
   text-align: center;
   font-size: 1rem;
   color: rgba(0,0,0,.5);
   }
   
}
