@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
   --theme: rgba(28, 28, 28, 1);
   --bg-color: rgba(236, 240, 243, 1);
   --opacity-bg-color: rgba(236, 240, 243, .5);
   --opacity-bg-color1: rgba(236, 240, 243, 0);
   --txt-color-one: #4D12F5;
   --txt-color-two: #000;
   --shadow-color-one: #f8f9fa;
   --shadow-color-two: #d3dce3;
   --btn-border-color: #ecf0f3;
   --grey: rgba(0,0,0,.2);
}

*{
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

body{
   height: 140vh;
   background-color: #e6e9ef;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.calculator{
   width: 17rem;
   height: auto;
   margin: 1.5rem;
   display: flex;
   flex-direction: column;
   border-radius: 1rem;
   background-color: var(--bg-color);
   box-shadow: 7px 7px 7px #d3dce3, -7px -7px 7px #f8f9fa;
}

.top{
   display: flex;
   flex-direction: column;
}

.calc-name > h1{
   color: var(--txt-color-two);
   text-align: center;
   height: 2rem;
   letter-spacing: .2rem;
   font-size: 1.5rem;
}

.theme{
   width: auto;
   height: auto;
   padding: 1rem;
   margin: 1rem;
   color: var(--btn-border-color);
   align-self: flex-end;
   border-radius: .7rem;
   cursor: pointer;
   background-color: var(--theme);
}

.display{
   width: 15rem;
   padding: 1rem 0;
   margin: 1rem 1rem 0;
   display: flex;
   flex-direction: column;
   line-height: 2rem;
   border-radius: 1rem;
   background-color: var(--bg-color);
   box-shadow: 4px 4px 4px var(--shadow-color-two) inset, -4px -4px 4px var(--shadow-color-one) inset;
}

.display.show-elp::before{
  color: var(--txt-color-two);
  content: "...";
  position: absolute;
  left: 73.6px;
  bottom: 284.8px;
  opacity: .4;
  z-index: 5;
}

.first-operand{
   color: var(--txt-color-two);
   font-size: 1.5rem;
   text-align: left;
}

.display.show-fading .fading{
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 73.6px;
  bottom: 284.8px;
  z-index: 2;
  background-image: linear-gradient(90deg, var(--bg-color), var(--bg-color), var(--opacity-bg-color), var(--opacity-bg-color1));
}

.first-operand:focus, .second-operand:focus{
   border: none;
   outline: none;
}

.second-operand{
   color: var(--txt-color-one);
   font-size: 1rem;
   text-align: right;
}


.first-operand, .second-operand{
   max-width: 18rem;
   padding-left: 1rem;
   padding-right: 1rem;
   word-wrap: break-word;
   background: none;
   outline: none;
   border: none;
}

.btns{
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-gap: .9rem;
   padding-top: 1rem;
   margin: 1rem;
}

.button{
   width: 2.7rem;
   height: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
   /*border-top: .5px solid var(--shadow-color-two);
   border-left: .5px solid var(--shadow-color-two);*/
   border-bottom: .5px solid var(--shadow-color-one);
   border-right: .5px solid var(--shadow-color-one);
   border-radius: 30%;
   background-image: linear-gradient(to bottom right, var(--shadow-color-one), var(--shadow-color-two));
   box-shadow: 3px 3px 5px 0 var(--shadow-color-two), -3px -3px 5px 0 var(--shadow-color-one);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.button:active{
   border: 1px solid var(--grey);
   box-shadow: none;
   transition: .1s ease-out;
}

.equals{
   color: var(--bg-color);
   width: 2.7rem;
   height: auto;
   border-radius: .7rem;
   border: 1px solid var(--bg-color);
   background-color: var(--txt-color-one);
   background-image: none;
   grid-area: 5 / 4 / 7 / 5;
}

.equals:active{
   color: var(--txt-color-one);
   background-color: var(--bg-color);
   transition: .1s ease-out;
}

.btn-flex{
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.other-btns{
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 0;
   position: absolute;
   z-index: 1;
   border-radius: 0 0 1rem 1rem;
   background-color: var(--bg-color);
   overflow-y: scroll;
   transition: 0.5s ease-out;
}

.openbtn{
   padding: .5rem;
   border-radius: .5rem 0 0 .5rem;
   color: var(--bg-color);
   background-color: var(--txt-color-one);
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
   box-shadow: -4px -4px 5px var(--shadow-color-one);
}

.closebtn{
   padding: 1rem;
   color: var(--txt-color-two);
   align-self: flex-end;
   font-size: 3rem;
   font-family: 'Montserrat', sans-serif;
}

.txt1{
   color: var(--txt-color-one);
}

.txt2{
   color: var(--txt-color-two);
}

.footer{
   padding-bottom: 1rem;
   text-align: center;
   font-size: 1rem;
   color: rgba(0,0,0,.3);
}

@media only screen and (min-width: 768px) {
   
   body{
      height: 100vh;
   }
   
   .footer{
   position: fixed;
   bottom: 0;
   padding-bottom: 1rem;
   text-align: center;
   font-size: 1rem;
   color: rgba(0,0,0,.5);
   }
   
}
